{% extends "admin/base_site.html" %}

{% block content %}
<h1>دانلود گزارش نشست ها بر اساس نیم سال های تحصیلی</h1>
<form method="POST" action="">
    {% csrf_token %}
    <label for="schedule">فیلتر بر اساس نیم سال های تحصیلی :</label>
    <select name="schedule" id="schedule">
        {% for s in schedules %}
            <option value="{{s.id}}">{{s.get_semester_display}} {{s.year}}</option>
        {% endfor %}
    </select>
    <button type="submit" class="button">دانلود فایل Excel</button>
</form>
    <a href="/admin/assignment/session/">
        <button type="button" style="margin: 10px" class="button">برگشت به جلسات دفاع پایان نامه / رساله </button>
    </a>

{% endblock %}
